[submodule "assimp"]
	path = External/Assimp
	url = https://github.com/assimp/assimp.git
[submodule "External/PhysX"]
	path = External/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX.git
	ignore = dirty
[submodule "External/openal-soft"]
	path = External/openal-soft
	url = https://github.com/kcat/openal-soft.git
